name: CI

on:
    schedule:
        # once a month
        - cron: '0 0 1 * *'
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    lint:
        runs-on: ubuntu-latest
        name: "Lint"
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.4'
                  coverage: pcov

            - name: Cache dependencies
              uses: actions/cache@v1
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-composer-${{ hashFiles('composer.json') }}-v1

            - name: Install dependencies
              run: composer install --no-suggest --no-interaction --verbose

            - name: Check platform requirements
              run: composer check-platform-reqs --verbose

            - name: PHP-CS-Fixer
              run: ./vendor/bin/php-cs-fixer fix --dry-run --no-interaction --verbose

            - name: composer normalize
              run: composer normalize --dry-run --no-interaction --verbose

            - name: Infection
              run: ./vendor/bin/infection --show-mutations --min-msi=100 --no-progress --no-interaction --verbose
              env:
                  INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}

            - name: Psalm
              run: ./vendor/bin/psalm --shepherd --no-progress

            - name: PHPStan
              run: ./vendor/bin/phpstan --no-interaction --verbose

    tests:
        runs-on: ubuntu-latest
        name: "Test suite on PHP: ${{ matrix.php }}; PHPUnit: ${{ matrix.phpunit }}; Dependecies: ${{ matrix.dependency-version }}"
        strategy:
            matrix:
                php: ['7.1', '7.2', '7.3', '7.4']
                phpunit: ['^6.0', '^7.0', '^8.0', '^9.0']
                dependency-version: ['prefer-lowest', 'prefer-stable']
                exclude:
                    - phpunit: '^8.0'
                      php: '7.1'
                    - phpunit: '^9.0'
                      php: '7.1'
                    - phpunit: '^9.0'
                      php: '7.2'

        steps:
            - name: checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Cache dependencies
              uses: actions/cache@v1
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-phpunit-${{ matrix.phpunit }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-v1

            - name: Install dependencies
              run: |
                  composer remove infection/infection --dev --no-update --no-interaction --verbose
                  composer require phpunit/phpunit:${{ matrix.phpunit }} --no-update --no-interaction --verbose
                  composer update --${{ matrix.dependency-version }} --no-suggest --no-interaction --verbose

            - name: Check platform requirements
              run: composer check-platform-reqs --verbose

            - name: Run tests
              if: matrix.phpunit == '^6.0' || matrix.phpunit == '^7.0' || matrix.phpunit == '^8.0'
              run: ./vendor/bin/phpunit --coverage-text --debug --verbose

            - name: Run tests
              if: matrix.phpunit == '^6.0' && matrix.phpunit == '^7.0' && matrix.phpunit == '^8.0'
              run: ./vendor/bin/phpunit --coverage-text --debug --order-by=random --verbose
